<!-- src/app/pages/cart/cart.html -->
<div *ngFor="let item of cartService.getItems()">
  <article class="card">
    <img [src]="item.product.imageUrl" alt="{{ item.product.name }}">
    <h3>{{ item.product.name }}</h3>
    <p>{{ item.product.description }}</p>
    <p>Cantidad: {{ item.quantity }}</p>  <!-- Mostrar cantidad -->
    <p>Precio: {{ item.product.price | currency }}</p>
    <p>Subtotal: {{ item.product.price * item.quantity | currency }}</p>
  </article>
</div>

<div *ngIf="cartService.getItems().length === 0">
  <p>El carrito está vacío</p>
</div>

<div *ngIf="cartService.getItems().length > 0">
  <p><strong>Total: {{ cartService.getTotal() | currency }}</strong></p>
  <button routerLink="/checkout">Proceder al pago</button>
</div>